body {
    --color-primary: #009579;
    --color-primary-dark: #007f67;
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 4px; /*Variaveis para serem referenciadas ao longo do código*/

    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: 18px;
}



.container {
    width: 400px;
    max-width: 400px; 
    margin: auto;
    margin-top: 4rem;
    padding: 36px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
    border: 1px solid var(--color-error);
 }

 .form--hidden {
    display: none;
}

 .container, .form__input, .form__button {
    font-size: 500;
    font-family:'Quicksand';
 }

 h1 {
     margin-top: 0;
     margin-bottom: 2rem;
     text-align: center;
 }

 p {
     margin-bottom: 0;
 }

 .mensagem{
     text-align: center;
 }

 .form__message--successo {
    color: var(--color-success);
}

 .form__input-mensagem-erro, .mensagem_erro {
     color: var(--color-error);
 }

 .input-grupo {
    margin-bottom: 1rem;
 }

 .form__input {
     display: block;
     width: 100%;
     padding: 0.75rem;
     box-sizing: border-box;
     border-radius: var(--border-radius);
     border: 1px solid;
     background-color: #eee;
 }

 .form__input:focus {
     border-color: var(--color-primary);
     background: #fff;
 }

 .form__input--erro {
     color: var(--color-error);
     border-color: var(--color-error);
 }

 .form__input-mensagem-erro {
     margin-top: 0.5rem;
     font-size: 0.85rem;
     color: var(--color-error);
 }

 .form__button {
     width: 100%;
     padding: 1rem 2rem;
     font-weight: bold;
     font-size: 1.1rem;
     margin-left: 30%;
     margin-bottom: 10px;
    text-align: center;
     color: white;
     border: none;
     border-radius: var(--border-radius);
     cursor: pointer;
     background-color: var(--color-error);
 }

 .form__button:active {
     transform: scale(0.99);
     border:none;
 }

 .form__texto {
     text-align: center;
 }

 .form__link {
     color: var(--color-secondary);
     text-decoration: none;
     cursor: pointer;
 }

 .form__link:hover {
     text-decoration: underline;
 }