* {
    box-sizing: border-box;
    font-family: 'Quicksand';
}

body {
    --color-primary: #009579;
    --color-primary-dark: #007f67;
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 4px;
    margin: 0;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.img{
  height: 150px;
}

.cardapio {
    width: 100%;
    position: absolute;
    text-align: center;

}

h2 {
    text-align: center;
}

.comprar-itens{
    justify-items: center;
    text-align: center;
    
}


.valor-item{
    font-weight: bold;
}

.item-carrinho {
    display: block;
    text-align: center;
    width: 100%;

}

.botao {
    width: 100%;
    padding: 1rem 1rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    background-color: var(--color-error);
}

.botao:active {
    transform: scale(0.99);
    border:none;
}

.comprar-itens {
    display: inline;
    margin: 30px;
}


.container{
    border: 1px solid;
    border-color: var(--color-error);
    width: 400px;
    max-width: 400px; 
    margin: auto;
    margin-top: 4rem;
    padding: 36px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
    border: 1px solid var(--color-error);
}
